body {
    margin: 0;
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Expletus Sans', sans-serif;
}

.header-wrapper {
    height: 5px;
    width: inherit;
    background-color: #b48b96;
    color: #d0c4c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px;
    position: sticky;
    top: 0;
    z-index: +1;
}

.left-column {
    display: flex;
    align-items: center;
}

.center-column {
    width: 500px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 145px;
    height: 100%;
}

.link-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    width: 70px;
    text-align: center;
    font-family: 'Hind', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: #27609c;
    letter-spacing: 2px;
}

.main-section {
    background-image: url(./assets/laPaz-noche.jpg);
    border: 150px;
    padding: 200px;
    padding-bottom: 30px;
    margin-top: 30;
    height: inherit;
    width: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.top-heading {
    padding: 1px 20px;
    background-color: #b48b96;
    color: #27609c;
    width: 290px;
    border-radius: 2px;
    opacity: .95;
}

.bottom-heading {
    background-color: #f7cea3;
    color: #27609c;
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
    opacity: .8;
}

.intro {
    background-color: #71bfde;
    color: #302232;
    height: 150px;
    width: 100%;
    padding-top: 50px;
    font-family: 'Expletus Sans';
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-color: #FFF;
    border-top: 60px;
}

.features-section {
    height: 650px;
    width: 100%;
    margin: 0;
    background-color: #f3b589;
    color: #eeecec;
    display: flex;
    justify-content: center;
    overflow: scroll;
    align-items: center;
    font-family: 'Hind', sans-serif;
    box-shadow: inset 0px -10px 45px -8px #302232;
}

.columns-wrapper {
    display: flex;
    width: 100%;
    padding-left: 275px;
    padding-right: 75px;
    border: 100px;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
}

.column {
    padding: 20px;
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.column:hover {
    border-bottom: 5px solid #FFF;
}

.column-img {
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 25px;
}

.column-title {
    letter-spacing: 2px;
    margin: 0;
    padding: 5px;
}

.column-title:hover {
    letter-spacing: 4px;
    transition: 1s;
    color: #9e5fda;
}

.column-content {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    margin: 0;
    padding: 15px;
    font-family: 'Expletus Sans';
}

.column-content:hover {
    letter-spacing: 4px;
    transition: 1s;
    color: #27609c;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #27609c;
    background-image: url(./assets/awayo.jpeg);
    background-size: cover;
}